.popoverStyle {
  z-index: 99999 !important;
}

a {
  color: #212529 !important;
  text-decoration: none;
}

.calendar-container {
  width: 100%; /* Make it take full width of its container */
  height: 100%;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.fc {
  height: 100%; /* Make FullCalendar take full height of its container */
}

/* Remove any border or padding from the calendar container */
.calendar-container {
  border: none;
  padding: 0;
}

/* Adjust the FullCalendar styles */
.fc .fc-view-harness {
  height: calc(100% - 50px) !important; /* Adjust based on your toolbar height */
}


.fc .fc-toolbar {
  font-size: 0.9em;
}

.fc .fc-daygrid-event {
  font-size: 0.8em; /* Adjust the font size as needed */
  padding: 2px;     /* Adjust the padding as needed */
  margin: 1px 0;    /* Adjust the margin as needed */
  line-height: 1.2;
}

/* Make each cell a perfect square */
.fc-daygrid-day {
  position: relative;
}

.fc-daygrid-day-frame {
  height: 0;
  /*padding-bottom: 100%; !* This makes the height equal to the width *!*/
}