.kiosk-calendar-container {
  height: 100vh;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add these styles to control the calendar size */
:global(.fc) {
  width: 100%;
  max-width: 1400px; /* Adjust this value based on your needs */
  margin: 0 auto;
}

:global(.fc-event) {
  cursor: default !important;
}

:global(.fc-event:hover) {
  opacity: 0.8;
}

:global(.popoverStyle) {
  z-index: 99999 !important;
}

:global(.fc-timegrid-now-indicator-line) {
  border-color: #ff0000;
  border-width: 2px;
}

:global(.fc-timegrid-now-indicator-arrow) {
  border-color: #ff0000;
  border-width: 5px;
}