name: Docker Build and Push

on:
  push:
    branches:
      - develop

jobs:
  build-and-push-image-dev:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Set image tags
        run: |
          echo "IMAGE_NAME=${{ secrets.DOCKER_HUB_USER }}/reservium-ui" >> $GITHUB_ENV
          echo "VERSION_TAG=latest-dev" >> $GITHUB_ENV

      - name: Build and push Docker image
        run: |
          docker build \
            --build-arg VITE_GOOGLE_CALENDAR_API_KEY=${{ secrets.VITE_GOOGLE_CALENDAR_API_KEY_DEV }} \
            --build-arg VITE_API_BASE_URL=${{ env.VITE_API_BASE_URL_DEV }} \
            -t $IMAGE_NAME:$VERSION_TAG .
          docker push $IMAGE_NAME:$VERSION_TAG
